 .body_cls_body {
  width: 100%;
  text-align: center;
}

/* mobile view design */

@media screen and (max-width: 400px) {
  .body_cls_body {
    background-color: blue;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: minmax(100px, 1fr) minmax(200px, auto) minmax(50px, 1fr);
    grid-template-areas:
    "header"
    "mainbody "
    "footer ";
  }
  .header_cls_header {
    grid-area: header;
 }
  .main_cls_mainbody {
    grid-area: mainbody;
  }
  .footer_cls_footer {
    grid-area: footer;
  }

  .div_cls_account_features {
    grid-area: features;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas:
    "myorder security "
    "mywallet myprofile";
    justify-items:center;
    align-items: center;

  }
  .div_cls_account_feature_single {
    font-size: 12px;
    width: 50px;
    height: 60px;
    background-color: skyblue;
    text-align: center;
  }
  #div_id_account_feature_order {
    grid-area: myorder;
  }

  #div_id_account_feature_wallet {
    grid-area: mywallet;
  }

  #div_id_account_feature_profile {
    grid-area: myprofile;
  }

  #div_id_account_feature_security {
    grid-area: security;
  }

}




/* ------------------------------------------------------------ */








/* desktop view starts here */
@media screen and (min-width: 400px) {
.body_cls_body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 50px minmax(295px, auto) 40px;
  grid-template-areas: "header" "mainbody" "footer";
  grid-gap: 5px;
}

.header_cls_header {
  grid-area: header;
}

.main_cls_mainbody {
  grid-area: mainbody;
}

.footer_cls_footer {
  grid-area: footer;
}


.div_cls_account_features {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows:1fr 1fr ;
  align-items: center;
  justify-items: center;

}

.div_cls_account_feature_single {
  background-color: rgb(244, 246, 249);
  position: relative;
  width: 10rem;
  height: 10rem;
  text-align: center;
  margin-top: 5% ;
  margin-bottom: 5% ;
  align-self: center;
  border-radius: 20px 20px 20px 0px ;
  -webkit-box-shadow: -3px 11px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 11px 19px -1px rgba(0,0,0,0.75);
  box-shadow: -3px 11px 19px -1px rgba(0,0,0,0.75);
padding: 2%;

}

.div_cls_account_feature_single:hover{
  -webkit-box-shadow: -3px 16px 35px -1px rgba(255,0,0,0.75);
-moz-box-shadow: -3px 16px 35px -1px rgba(255,0,0,0.75);
box-shadow: -3px 16px 35px -1px rgba(255,0,0,0.75);
}

#div_id_account_feature_order {

}

#div_id_account_feature_wallet {

}

#div_id_account_feature_profile {

}

#div_id_account_feature_security {

}
}
