.body_cls_body {
  width: 100%;
  text-align: center;
}

/* common properties for all screen  sizes */

.div_cls_orders_container {
  margin-left: 50%;
  transform: translateX(-50%);
  font-size: 0.9rem;
  height: 100%;
  display: block;
}
.table_cls_order_table {
  width: 100%;
  margin-bottom: 5%;
}
table, td {
  border-collapse: collapse;
  padding: 0.2rem;
}
tr:nth-child(even) {
  background: linear-gradient(to right, rgba(252, 41, 97, 1) 0%, rgba(227, 140, 242, 1) 21%, rgba(197, 133, 237, 1) 51%, rgba(103, 213, 235, 1) 82%, rgba(39, 230, 173, 1) 100%);
}
tr:nth-child(odd) {
  background: linear-gradient(to right, rgba(128, 38, 255, 1) 0%, rgba(128, 38, 255, 1) 2%, rgba(164, 65, 250, 1) 21%, rgba(119, 165, 252, 1) 51%, rgba(82, 243, 255, 1) 78%, rgba(15, 255, 159, 1) 100%);
}
tr:hover {
    background: #fab663;
    transform: scale(1.05);
    border-radius: 5px;
    transition: all 1s;
    -webkit-box-shadow: 0px 5px 7px 0px rgba(121, 91, 240, 1);
    -moz-box-shadow: 0px 5px 7px 0px rgba(121, 91, 240, 1);
    box-shadow: 0px 5px 7px 0px rgba(121, 91, 240, 1);
  }
  thead tr:first-child {
    transition: none;
    transform: none;
    background: linear-gradient(45deg, rgba(255, 112, 131, 1) 0%, rgba(255, 112, 131, 1) 9%, rgba(229, 92, 250, 1) 25%, rgba(152, 157, 251, 1) 50%, rgba(161, 247, 243, 1) 50%, rgba(255, 71, 90, 1) 100%);
  }
  thead tr th:first-child {
    border-top-left-radius: 5px;
  }
  thead tr th:last-child {
    border-top-right-radius: 5px;
  }
  tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
  }
  tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
  }
  tbody tr:last-child td{
    border-bottom: 0px;
  }


/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------ */




/* mobile view design */

@media screen and (max-width: 400px) {
  .body_cls_body {
    /* background-color: yellow ; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(50px, 100px) auto;
    grid-template-areas: "header" "mainbody ";
  }
  .header_cls_header {
    grid-area: header;
}
  .main_cls_mainbody {
    grid-area: mainbody;
  }

  /* .div_cls_chatbox {
    width: 150px;
    height: 50px;
    background-color: violet;
    display: none ;
  } */
  .div_cls_orders_container {
    width: 95%;
  }

  th, td {
    text-align: left;
    padding-left: 2%;
  }


th {
  height: 2.2rem;
  font-size: 0.8rem;
}

td {
  height: 1.2rem;
  border-bottom: 1px solid grey;
  font-size: 0.7rem ;
}

}
/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------- */

/* desktop view starts here */

@media screen and (min-width:400px) {
  .body_cls_body {
  }
  .header_cls_header {
  }
  .main_cls_mainbody {
  }
  .footer_cls_footer {
  }
  .div_cls_orders_container {
    width: 80%;
  }


  th, td {
    text-align: left;
    padding-left: 15px ;
  }
  th {
    height: 3rem;
    font-size: 1.3rem;
  }
  td {
    height: 2rem;
    border-bottom: 1px solid grey;
  }

}
