.body_cls_body {
  width: 100%;
  text-align: center;
}

/* mobile view design */


@media screen and (max-width: 400px) {
  .body_cls_body {
    background-color: yellow;
    display: grid;
    grid-template-columns:auto;
    grid-template-rows: minmax(100px, 1fr) minmax(200px, auto) minmax(50px, 1fr);
    grid-template-areas:
    "header"
    "mainbody "
    "footer ";
  }
  .header_cls_header {
    grid-area: header;
    display: grid;
    grid-template-columns: 50px 150px 50px;
    height: 50px;
    grid-template-areas:
    "notification brand share" ;
     height: 20px ;
     justify-content: space-between;
     justify-items: center;


  }
  .main_cls_mainbody {
    grid-area: mainbody;
    justify-self: center;
  }
  .footer_cls_footer {
    grid-area: footer;
    display: grid ;
    grid-template-columns: 2fr 1fr ;
    grid-template-rows: 50px ;
    grid-template-areas:
    "bottombar chatbox "
  }
  .div_cls_notification {
    grid-area: notification;
    width: 50px ;
  }
  .div_cls_brandheader{
    grid-area: brand;
    width: 100px ;
    background-color: red;

  }
  .div_cls_share {
    grid-area: share;
  }
  .div_cls_sidebar {
    grid-area: bottombar;
  }

  .div_cls_chatbox{
    width: 100px;
    height: 30px;
    background-color: pink;
  }

}









/* ------------------------------------------------------- */


/* desktop view starts here */
@media screen and (min-width:400px){

.body_cls_body {

}

.header_cls_header {
}

.main_cls_mainbody {

}

.footer_cls_footer {

}


.div_cls_success_remark img{
  display: block;
  background-color: red ;
  height: 80%;
  width: 30% ;
}
.btn_cls_trackwork{
  height: 30px ;
  width: 15% ;
  border: 1px solid black ;
  border-radius: 15px ;
  background-color: lightgreen ;
  margin-top : 10% ;
}
}
