* {
  margin: 0px;
  padding: 0px;
}



/*
.showUp, .div_cls_menu_hideDown{
            transition: all .3s ease-in;
}
.div_cls_menu_hideDown {
  bottom:-161px;
}
.showUp {
  bottom: 0px;
} */


/* Samsung Galaxy S5 -----------  */
 /* @media only screen and (min-device-width: 360px)
and (max-device-height: 800px)
and (orientation : landscape)
and (-webkit-device-pixel-ratio: 3){


  .div_cls_menu_show, .div_cls_menu_hide{ */
      /* we specify the transition length for hiding and showing */
    /* transition: left .3s ease-in;
  }
  .div_cls_menu_hide {
      bottom:-161px;
  }
  .div_cls_menu_show {
    bottom: 0px;
  } */









/*
  .fa-chevron-up{
    font-size: 35px;
  }
  .fa-chevron-down{
    font-size: 35px;
  }

 #div_id_menu {
   left: 50%;
   transform: translateX(-50%);
     text-align: center;
     top: 0%;
 }

#arrow {
float: none;
display: none;
  transform: translate(-50%,0);
  top: -18%;
  left: 50%;
 padding: 10px;
 padding-top: 0px;
  border-bottom-right-radius: 0px;
 border-top-right-radius: 50px;
 border-top-left-radius: 50px;
}
.link {
  z-index: 2;
  border-radius: 5px;
}

} */
